name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      dotnet-logging:
        required: true
        type: choice
        default: minimal
        options:
          - quiet
          - minimal
          - normal
          - detailed
          - diagnostic

jobs:
  all:
    if: github.run_id != 1
    name: Build & Tests
    uses: dailydevops/pipelines/.github/workflows/build-dotnet-matrix.yml@cb2e329ddbd6ad42afc18b24518abf49eabbd9ad # 2.3.1
    with:
      disableTestsOnLinux: false
      disableTestsOnMacOs: false
      disableTestsOnWindows: false
      dotnetLogging: ${{ inputs.dotnet-logging || 'minimal' }}
      dotnetVersion: ${{ vars.NE_DOTNET_TARGETFRAMEWORKS }}
      failFast: false
      solution: ./ArchiDuct.slnx
    secrets: inherit
